.mainWindow {
    display: table-row;
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #f5f5f5;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}

ul.leftBar{
    display:  table-cell;
    width: 8em;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    border-radius: 10px;
    box-shadow: -5px 5px 4px #ccc;
    
}

ul.leftBar a {
    display: block;
    width: 7em;
    padding: 0.5em;
    background-color: #efefef;
    text-decoration: none;
    border-radius: 10%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

ul.leftBar li {
    padding: 0.5em 0 0 0;
}

ul.leftBar img{
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 0 1.5em 0 1.5em;
}

ul.leftBar a:hover{
    background: white;
}

div.rightWindow{
    display:  table-cell;
    width: 100%;
    height: auto;
    border-radius: 10px
    
}

div.rightWindow h1{
    color: black;
    text-align: center;
    margin: 0 0 1em 0;
}

div.rightWindow table{
   text-align: left; 
}

div.rightWindow th{
    padding: 0.5em 1em 0 1em;
    
}

div.rightWindow p{
    padding: 0.5em 1em 0 1em;
    
}

.button {
    width: 6em;
    height: 3em;
    margin-right: 1em;
    border-radius: 10%;
    border: 0px;
    cursor: pointer;
    
}
.button:hover{
    background: white;
}



